<span class="btn btn-mini">@ViewBag.Total</span> 
<a asp-controller="cart" asp-action="index">
    <span class="btn btn-mini btn btn-primary"><i class="glyphicon-shopping-cart icon-white"></i>
    [@ViewBag.countItems] Items in your cart</span>
</a>
