@using eProject.Models

<!-- widget shop categories -->
<div class="widget shop-categories">
    <h4 class="widget-title">Categories</h4>
    <div class="widget-content">
        <ul>
            @foreach (var category in Model)
            {
                <li>
                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                    <a href="#">@category.CategoryName</a>
                    @if (category.InverseParents != null && category.InverseParents.Count > 0)
                    {
                        <ul class="children">
                            @foreach (var subCategory in category.InverseParents)
                            {
                                @if (subCategory.Status)
                                {
                                    <li>
                                        <a asp-controller="ProductUser" asp-action="category" asp-route-id="@subCategory.CategoryId">
                                            @subCategory.CategoryName
                                        </a>
                                    </li>

                                }
                            }
                        </ul>
                    }

                </li>
            }
        </ul>
    </div>
</div>
<!-- /widget shop categories -->
