@model eProject.Models.ViewModels.UpdateContactAdminRequest
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_BackendLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Contact Admin</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"> Contact Admin Information</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Contact Admin Information</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-area="Admin" asp-controller="ContactAdmin" asp-action="Approved" method="post" role="form">
                        <input type="hidden" asp-for="ContactAdminId" />
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input readonly class="form-control" asp-for="Name" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Message"></label>
                            <textarea readonly class="form-control" asp-for="Message"></textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="Status"></label>
                            <select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectList<ContactAdmin.StatusMessage>()"></select>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



