@model eProject.Areas.Admin.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">Add new product</div>
                    <div class="details-wrap">
                        <div class="block-title alt"> <i class="fa fa-angle-down"></i>Product details</div>
                        <div class="details-box">
                            <form asp-controller="Artist" asp-action="Create" method="post" class="form-delivery">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" class="form-control" asp-for="Product.Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" asp-for="Product.Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="number" class="form-control" asp-for="Product.Price" min="0" required>
                                            <span class="text-danger">*Prices start if the product is auctions.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>Sale Price</label>
                                            <input type="number" class="form-control" asp-for="Product.SalePrice" min="0" required>
                                            <span class="text-danger">*Bid price if the product is auctions.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <input class="form-control" asp-for="Product.ToDate">
                                            <span class="text-danger">*If the product is auction</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" asp-for="Product.CategoryId" asp-items="Model.Categories"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox" asp-for="Product.Status">
                                            <label class="form-check-label" for="checkbox">Status</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox1" asp-for="Product.Featured">
                                            <label class="form-check-label" for="checkbox1">Featured</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="btn btn-theme btn-theme-dark"> Create </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
                <!--start sidebar-->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="widget account-details">
                        <h2 class="widget-title">Account</h2>
                        <ul>
                            @await Html.PartialAsync("../Account/Partial/_Sidebar")
                        </ul>
                    </div>
                </div>
                <!--end sidebar-->
            </div>

        </div>
    </section>
</div>
<!-- /CONTENT AREA -->