@model IEnumerable<eProject.Models.SlideShow>
<section class="page-section no-padding slider">
    <div class="container full-width">

        <div class="main-slider">
            <div class="owl-carousel" id="main-slider">
                @{ var i = 1;}
                @foreach (var slideShow in Model)
                {
                    <div class="item @("slide"+i)">
                        <img class="slide-img" src="~/slideshows/@slideShow.Name" alt="" />
                        <div class="caption">
                            <div class="container">
                                <div class="div-table">
                                    <div class="div-cell">
                                        <div class="caption-content">
                                            <h2 class="caption-title">@slideShow.Title</h2>
                                            <p class="caption-subtitle">
                                                @slideShow.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>

    </div>
</section>
