@{
    ViewData["Title"] = "Reset password confirmation";
}

<!-- PAGE -->
<section class="page-section color">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="block-title"><span>Reset Password Confirmation</span></h3>
                <p>
                    Your password has been reset. Please <a asp-controller="Home" asp-action="Login">click here to log in</a>.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section no-padding-top">
    <div class="container">
        <div class="row blocks shop-info-banners" style="margin-top:30px;">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-gift"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Free Shipping</h4>
                            Ship around the world
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-comments"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Call to Free</h4>
                            Support 24/7. call number: 1800 1530
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-trophy"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Payment</h4>
                            Credit Card - Paypal - Card
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->