@model eProject.Models.ViewModels.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}

<!-- PAGE -->
<section class="page-section color">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="block-title"><span>Reset Password</span></h3>
                <form asp-controller="Home" asp-action="ResetPassword" method="post" class="form-login">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    <div class="row">
                        <div class="col-md-12 hello-text-wrap">
                            <span class="hello-text text-thin">Hello, welcome to reset password</span>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" asp-for="Password" placeholder="Enter new password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm new password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-theme btn-block btn-theme-dark">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <div class="row blocks shop-info-banners">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-gift"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Buy 1 Get 1</h4>
                            Proin dictum elementum velit. Fusce euismod consequat ante.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-comments"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Call to Free</h4>
                            Proin dictum elementum velit. Fusce euismod consequat ante.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-trophy"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Money Back!</h4>
                            Proin dictum elementum velit. Fusce euismod consequat ante.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->