@{
    <a href="#" class="btn btn-theme-transparent" data-toggle="modal" data-target="#popup-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs"> @ViewBag.CountItems item(s) - $@ViewBag.SubTotal </span> <i class="fa fa-angle-down"></i></a>
}