<li><a asp-controller="home">Home</a><span class="divider"></span></li>
<li class="active">Thanks</li>
</ul>
<h3>Thanks for buying products![<small>@ViewBag.countItems Item(s)</small>]<a asp-controller="home" class="btn btn-large pull-right"><i class="icon-arrow-left"></i>Continue Shopping...</a></h3>
<a asp-controller="home" class="btn btn-large"><i class="icon-arrow-left"></i>Continue Shopping....</a>