@{
    ViewData["Title"] = "Artist Management";
}

    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">Artist</div>
                    <div class="details-wrap">
                        <div class="block-title alt">
                            <i class="fa fa-angle-down"></i>Sell Your Art on GalleryToday.com</div>
                        <div class="details-box">
                            
                        </div>
                    </div>
                    <div class="details-wrap">
                        <div class="block-title alt"> <i class="fa fa-angle-down"></i>Register/Unregister</div>
                        <div class="details-box">
                            <form class="form-delivery" action="#">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label> Subscribe: </label>
                                            <label class="radio-inline"> <input type="radio" name="optradio">Yes </label>
                                            <label class="radio-inline"><input type="radio" name="optradio">No</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-theme btn-theme-dark" type="submit"> Update </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
                <!--start sidebar-->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="widget account-details">
                        <h2 class="widget-title">Account</h2>
                        <ul>
                            <li><a href="accountinformation.html"> Account Information </a></li>
                            <li><a href="myaccount.html">My Accont</a></li>
                            <li><a href="cng-pw.html">Change Password</a></li>
                            <li><a href="address-book.html">Address Books</a></li>
                            <li><a href="order-history.html">Order History</a></li>
                            <li><a href="review-rating.html">Reviews and Ratings</a></li>
                            <li><a href="return.html">Returns Requests</a></li>
                            <li class="active"><a href="newsletter.html">Newsletter</a></li>
                            <li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>
                        </ul>
                    </div>
                </div>
                <!--end sidebar-->
            </div>

        </div>
    </section>