<nav class="navigation closed clearfix">
    <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
    <ul class="nav sf-menu">
        <li><a asp-controller="Home" asp-action="index">HOME</a></li>
        <li><a asp-controller="ProductUser" asp-action="index">Artworks</a></li>
        <li><a href="#">Artists</a></li>
        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
        <li><a href="#">Exhibition</a></li>
        <li><a asp-controller="About" asp-action="Index">About us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>