
@{
    ViewData["Title"] = "IndexCondition";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>Terms and Conditions</h1>
            </div>
            <ul class="breadcrumb"></ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">


            <h3>Terms and Conditions of <strong>Heaven Online Gallery</strong></h3>

            <p>It is important that you read and understand these terms and conditions before proceeding with this transaction.  If there is any term that you do not understand or do not wish to agree to, please discuss it with a representative of James Hyman Photography or James Hyman Fine Art. Only proceed with this transaction if you wish to be bound by the terms and conditions set out below. </p>

            <p>
                This agreement applies as between you, the User of this Web Site and James Hyman Photography Limited and James Hyman Fine Art Limited, the owner(s) of this Web Site.  Your agreement to comply with and be bound by these Terms and Conditions is deemed to occur upon your first use of the Web Site. If you do not agree to be bound by these Terms and Conditions, you should stop using the Web Site immediately.
            </p>
            <p>No part of this Web Site is intended to constitute a contractual offer capable of acceptance.  Your order constitutes a contractual offer and our acceptance of that offer is deemed to occur upon our sending a dispatch email to you indicating that your order has been fulfilled and is on its way to you.</p>


            <p><strong>1. PURPOSE AND EFFECT</strong></p>
            <p>
                1.1 These terms and conditions set out all the terms of agreement other than price between you as buyer and us as seller, in relation to the sale and purchase of the item or items identified in the invoice, which we refer to below as “the Work”.
                We confirm that we either own the Work or are authorised to sell it on behalf of the owner.
            </p>
            <p>1.2 If you wish to rely on any variation of, or addition to these terms and conditions, you must ensure that the variation or addition has been agreed by us in writing.</p>

            <p><strong>2. STATEMENTS ABOUT THE WORK</strong> </p>
            <p>2.1 All statements by us as to the authenticity, attribution, description, date, age, provenance, title or condition of the Work constitute our judgement and opinion only (save that this shall not operate so as to exclude any liability on our part for misrepresentation) and are not warranted by us.  We do not accept any liability as a result of any changes in expert opinion which may take place subsequent to the sale.</p>
            <p>
                2.2 While we will on request explain the condition of the Work at the time of the sale and provide any information in our possession about condition for which you may reasonably ask, we will not be responsible for any subsequent deterioration of the Work, however occasioned, after the sale.
            </p>
            <p>
                2.3 You are responsible for satisfying yourself as to any statements made by us as to the matters set out in clauses 2.1 and 2.2 above.
            </p>
            <p><strong>3. PAYMENT OF PURCHASE PRICE</strong> </p>
            <p>
                3.1 You must pay us the full price for the Work, together with any agreed delivery or framing costs, any VAT and any amounts payable to us under clause 6 below by paypal, credit card, bank transfer or such other methods as we agree.
            </p>
            <p><strong>4. COMMISSSION PAYABLE BY US TO THIRD PARTIES</strong>  </p>
            <p>We may pay a commission to any party who has assisted us with the sale of the work to you or who has introduced you to us.  We will provide you with details. </p>

            <p><strong>5. PASSING OF OWNERSHIP</strong></p>
            <p>5.1 Full legal title to the Work will not pass to you until we have received in full in cleared funds all sums due in respect of the Work.</p>
            <p>5.2 If you have possession of the Work before full payment has been made, you must: </p>
            <p>5.2.1 keep possession of it, not sell it or hand it over to any other person or dispose of any interest in it;	</p>
            <p>5.2.2 in the case of a Work consisting of more than one item, keep those items together;</p>
            <p>5.2.3 keep any identifying marks showing that we own the Work clearly displayed; </p>
            <p>5.2.4 store the Work on your premises and at no cost to us, separately from other property;</p>
            <p>5.2.5 at our request, and after we have given you reasonable notice, allow us or a third party acting on our behalf to have access to the Work in order to inspect it; and </p>
            <p>5.2.6 preserve the Work in the same state as it was on delivery and in particular, not restore, repair, clean or reframe it without our written consent.</p>

            <p><strong>6. EXPORT</strong></p>
            <p>
                If Goods are being ordered from outside the United Kingdom, import duties and taxes may be incurred once your Goods reach their destination. James Hyman Photography Limited and James Hyman Fine Art Limited are not responsible for these charges and we undertake to make no calculations or estimates in this regard.  If you are buying internationally, you are advised to contact your local customs authorities for further details on costs and procedures.  As the purchaser of the Goods, you will also be the importer of record and as such should ensure that your purchase is in full compliance with the laws of the country into which the Goods are being imported.  Please be aware that Goods may be inspected on arrival at port for customs purposes and James Hyman Photography Limited and James Hyman Fine Art Limited cannot guarantee that the packaging of your Goods will be free of signs of tampering.
            </p>
            <p>
                You will be responsible for paying any taxes including but not limited to import tax, duty, merchandise, sales or user tax that have to be paid in the country of destination whether on shipment or on import or at any other time.
            </p>
            <p>
                Unless otherwise agreed in writing, the sale of the Work is not dependent on either us or you obtaining an export licence and failure or delay in obtaining a license will not constitute a basis to cancel a purchase or delay payment for it.
            </p>
            <p><strong>7. BREACH BY THE BUYER</strong></p>
            <p>
                7.1 If you fail to pay the purchase price in full (or if we agree with you payment by set instalments and you fail to pay any one or more instalment) by the due date, or if prior to you paying the purchase price in full you fail to comply with the obligations set out in clauses 5 and 6 above, or otherwise do or fail to do anything which may in any way imperil our ownership of the Work or the Work itself, we are entitled (without prejudice to our other rights and remedies at law) to either:
            </p>
            <p>7.1.1terminate the contract for sale, repossess the Work and claim damages for any loss we have suffered; or </p>
            <p>
                7.1.2 or at our election, treat the sale as cancelled, and repossess the Work, in which case (and only in which case) we shall following the safe return of the Work, refund to you any part of the purchase price you have paid, after deduction of any sums due to us including but not limited to costs of recovery and restoration of the Work.
            </p>
            <p>
                7.2 We shall also have the right to repossess the Work and cancel the sale if before you make full payment of the purchase price to us, proceedings occur in the UK or elsewhere involving your solvency (including but not limited to the presentation of a bankruptcy petition or winding-up petition; or the convening of a meeting to wind you up voluntarily; or an application for an interim order for a voluntary arrangement, or for the appointment of an administrator; or the appointment of an administrative or other receiver).
            </p>
            <p>
                7. 3 Where we notify you of the exercise of our right to repossession, you will within seven days of such notice, return the Work to our premises at your cost and risk or tell us where the Work is kept and allow us to enter the premises where the Work is (separately) kept and take the Work away at your cost (it being understood that where the Work consists of more than one item, our rights of repossession extend to all such items).
            </p>
            <p><strong>8. LIMITATION OF OUR LIABILITY	</strong></p>
            <p>
                Any claim against us must be brought within a period of 6 years from the date of the invoice for the Work or, if we have been guilty of any fraud deliberately concealed a relevant fact in relation to the Work within 6 years after you have discovered this, or could have discovered it if you were reasonably diligent.  We shall not accept any claim after these periods.
            </p>
            <p>
                We shall not be liable for loss of profits (whether direct or indirect) or indirect or consequential loss or damage, if any, which you may suffer in connection with buying the Work. Any liability to you for breach of our obligations whether in contract tort or otherwise, shall be limited to the price paid for the Work provided that nothing in this clause 9 limits or excludes our liability for: (a) death or personal injury caused by our negligence or any of our agents; and/or (b) fraud.
            </p>
            <p><strong>9. 	RESCISSION </strong> </p>
            <p>
                We will have the right, but not the obligation, to rescind a sale without notice to you, where an adverse claim is made by a third party, including but not limited to, someone claiming ownership of the Work.  Upon notice of our election to rescind the sale, you will promptly return the Work to us.  We will then refund the price and any amount paid to us that represents a royalty due to the Work's author upon the resale of the Work ("Resale Royalty").  The refund of the price and any Resale Royalty will constitute your sole remedy and recourse against us with respect to such claims.
            </p>
            <p><strong>10. COPYRIGHT</strong></p>
            <p>
                The copyright subsisting in all images and other materials produced for the sale of the work is owned by us and such images and materials may only be used with our permission.  We will have the right to use such images in our own discretion after the sale of the Work.
                During the period in which the Work is protected by copyright, the copyright remains with its author (or any person to whom that right has been assigned). You are purchasing the Work, but not the right to produce copies of the Work (including photographs thereof) for publication. If such rights are sought, you should contact the copyright owner.
            </p>
            <p><strong>11. NOTICES</strong>  </p>
            <p>
                Any notice to be given to us or that we must give to you in connection with the sale of the Work must be in writing and must be sent by post, or delivered by hand, to our address or to your last known address as notified to us by you as the case may be.
            </p>
            <p>12. FURTHER INFORMATION: NON – TRADE BUYERS </p>
            <p>
                This clause applies only where the sale of the Work is to a natural person acting for purposes outside his business.
                It is not our standard policy to sell works of art exclusively by electronic mail/other methods of distance communication. However, where a contract for the sale of the Work is concluded exclusively through such distance communication, the Consumer Protection (Distance Selling) Regulations 2000 (included as amended) apply and accordingly:
            </p>
            <p><strog>13. REFUNDS</strog></p>
            <p>
                13.1 If you have concluded a transaction exclusively at a distance you have the right to cancel the contract for the purchase of the Work in question within 7 working days, beginning with the day after the day the Work is collected/delivered.
            </p>
            <p>
                13.2 This right extends only to Works returned in the same condition in which they were sold.  You will be responsible for the costs of returning the Work to us unless we delivered the Work to you in error. If we do not receive the Work back from you, we may arrange for collection of the Work from you at your cost.
            </p>
            <p><strong>14. LAW AND JURISDICTION</strong></p>
            <p>
                14.1 These terms and conditions and any non-contractual obligations arising from or in connection with them shall in all respects be construed and take effect in accordance with English law.
            </p>
            <p>14.2 	If you are purchasing the Work as a consumer, the courts of England and Wales will have non-exclusive jurisdiction in relation to any dispute (a) arising from or in connection with these terms and conditions or (b) relating to any non-contractual obligations arising from or in connection with these terms and conditions.  If you are not purchasing the Work as a consumer, the courts of England and Wales will have exclusive jurisdiction in relation to any dispute (a) arising from or in connection with these terms and conditions or (b) relating to any non-contractual obligations arising from or in connection with these terms and conditions.                                                                                                                                                         </p>

            <p><strong>15.   ARBITRATION</strong></p>
            <p>
                15.1 Notwithstanding clause 14.2 above, either party may, by giving written notice to the other, elect to have any disputes arising out of, or in connection with, the sale and purchase of the Work referred to a single arbitrator in London to be resolved in accordance with the Arbitration Act 1996.  The seat of such an arbitration will be London and the language to be used in the arbitral proceedings will be English.  In the event that the parties cannot agree upon an arbitrator either party may apply to the President of the Law Society of England and Wales for the time being to appoint as arbitrator a Queen’s Counsel of not less than 5 years standing.  The decision of the arbitrator shall be final and binding.
            </p>
            <p>
                15.2 Save that the parties acknowledge each other’s right to seek, and the power of the High Court to grant, interim relief, no Court action shall be brought in relation to any claim or dispute until the arbitrator has made a final award.
            </p>



        </div>
    </section>
    <!-- /PAGE -->


</div>
<!-- /CONTENT AREA -->
