
@{
    ViewData["Title"] = "IndexTerm";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>Frequently Asked Questions </h1>
            </div>
            <ul class="breadcrumb"></ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">


            <h3 class="page-subheading">ARE ALL YOUR PAINTINGS ORIGINAL AND SIGNED?</h3>
            <p class="bottom-indent">Yes, we only sell 100% original paintings that are signed by the original artists. At Gallerytoday.com, we ensure that all our paintings undergo many rigorous tests before they're admitted into our gallery to ensure that our paintings are authentic and high-quality. Each painting we sell is unique, which means there are no other paintings like it in the world. Some images listed on our website may show the painting as "unsigned". This is just because some artists prefer to sign their artwork only after it is sold, while others sign their canvases on the back. All the paintings we sell will be delivered signed by artists.</p>
            <h3 class="page-subheading">WHAT IS THE COST FOR SHIPPING?</h3>
            <p class="bottom-indent">We offer free shipping to anywhere in the world. Once a customer places an order, our highly trained staffs begin the process of shipping the artwork to the provided shipping address. We usually ship within 2 business days of receiving an order using UPS, FedEx, or USPS. All paintings are carefully hand-packed inside sturdy containers that have cushioning materials on either side to reduce the likelihood of damage during shipment.</p>
            <h3 class="page-subheading">WHAT IS THE TIME FRAME FOR STANDARD SHIPPING?</h3>
            <p class="bottom-indent">We ship all paintings within 48 hours of receiving payment from Monday through Friday. Once an order is shipped, it usually takes 1 to 2 weeks for the package to arrive at its destination. Shipment may take longer in some instances; however, in most cases, your new painting is expected to arrive within 10-14 days.</p>
            <h3 class="page-subheading">WILL MY PAINTING BE SAFE DURING SHIPMENT AND DELIVERY?</h3>
            <p class="bottom-indent">Rest assured that your new painting will arrive safely. We pack all paintings with strong and durable materials, such as Styrofoam inserts and bubble wrap.</p>
            <h3 class="page-subheading">WHAT IF I DON'T LIKE A PAINTING AFTER DELIVERY?</h3>
            <p class="bottom-indent">We offer all our customers a 10-Day Money Back Guarantee! This allows our customers ample time to return their delivered artwork from the day of delivery. If for any reason you fall out of love with your painting within 10 days of receiving it, we will be happy to give you a refund with no questions asked. If you decide to return your painting, please ensure that the painting is in its original condition (the same physical condition in which you received it). For more information or to arrange a return, please contact us at: contact@gallerytoday.com</p>
            <h3 class="page-subheading">CAN I PUT A PAINTING ON HOLD?</h3>
            <p class="bottom-indent">Yes, you can put a painting on hold. To do that, send us an email at office@gallerytoday.com</p>
            <h3 class="page-subheading">DO YOU FRAME THE PAINTINGS?</h3>
            <p class="bottom-indent">Frame preferences vary among different customers, but most paintings are shipped without a frame. If you'd like a frame for your painting, please send us an email at contact@gallerytoday.com either prior to or upon placing your order. We will be happy to discuss our framing options with you!</p><p>



        </div>
    </section>
    <!-- /PAGE -->


</div>
<!-- /CONTENT AREA -->
