
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>Delivery Information</h1>
            </div>
            <ul class="breadcrumb"></ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">


            <p>We ship within the Vietnam and Worldwide. Our flexible delivery options are designed to suit you. Whether it’s a courier or one of our dedicated delivery drivers, we deliver, handpicked artwork direct to your door (and we can hang it too - more info on installation services can be found here).</p>
            <p>We also welcome collection (at no charge) from the gallery.</p>
            <p>Each piece of artwork on the website lists an estimated dispatch time from when you place your order. We will always contact soon After you place your order and will inform you if your delivery is delayed for any reason and endeavor to send your artwork out as fast as possible. Please let us know if there are any parking or access restrictions so that we can plan accordingly.</p>
            <p></p>
            <p>Within the Vietnam: 3 - 7 working days</p>



        </div>
    </section>
    <!-- /PAGE -->


</div>
<!-- /CONTENT AREA -->
